# Node modules
Skill-Swap Backend/node_modules/
Skill-Swap Frontend/node_modules/

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Build output
dist/
build/
